
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn_primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.btn_primary:hover{
    box-shadow: 0 0 10px #424242;
    transition: 0.6s;
    color: #424242;
}

/* shared style */
.display_flex{
    display: flex;
}

.text_gray{
    color: #424242;
}
.text_light_gray{
    color: #727272;
}

.bg_light{
    background-color: rgb(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */

/* navbar related style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav_items{
    list-style: none;
    gap: 30px;
   
}

.nav_link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.home_samp{
    color: #FF900E;
}

.home_samp:hover{
    color: #424242;
}

.nav_link:hover{
    color: #FF900E;
    transition: 0.6s;
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner_content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.banner_description{
    font-size: 16px;

}

.banner_image{
    width: 100%;
    border-radius: 20px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav_link{
        flex-direction: column;
    }

}