
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn_primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.btn_primary:hover{
    box-shadow: 0 0 10px #424242;
    transition: 0.6s;
    color: #424242;
}

main >section{
    margin-top: 130px;
}

/* shared style */
.display_flex{
    display: flex;
}

.text_gray{
    color: #424242;
}
.text_light_gray{
    color: #727272;
}

.bg_light{
    background-color: rgb(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */

/* navbar related style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    border-right: none;
    border-radius: 5px;
    
}

.rm_brand{
    /* background-color: #FF900E; */
    color: #FF900E;
    font-weight: 700;
    border-left: none;
    padding: 0 5px;
    border-radius: 0px 5px 5px 0px;
   
}

.nav_items{
    list-style: none;
    gap: 30px;
   
}

.nav_link{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}

.login_samp{
    color: #FF900E;
    font-size: 1.6rem;
    font-weight: 600;
   
}

.login_samp:hover{
    color: #424242;
}

.nav_link:hover{
    color: #FF900E;
    transition: 0.6s;
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner_content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    

}

.banner_description{
    font-size: 16px;
    
}

.banner_image{
    width: 100%;
    border-radius: 20px;
    padding-bottom: 45px;
}

/* Our future style css */
.teams{
    align-items: center;
}

.team_img_contener{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.our_features{
    margin-left: 130px;
    max-width: 530px;
    /* border: 2px solid #FF900E; */
}

.feature_title{
    font-size: 3rem
}


.feature{
    color: #FF900E;
    font-weight: 800;
}

/* feature love section ------------*/
.features{
    max-width: 1440pxpx;
    gap: 40px;
}

/* #title_side_style{
    border-left: 6px solid #FF900E;
    padding-left: 20px;
} */

.feature_card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
 
}


/* .Feature_title{
    font-weight: 600;
    font-size: 1.25rem;
    
} */

/* #experience_badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -130px ;
    margin-left: -100px;
  
}  */

/* #experience_year{
    font-size: 4rem;
    font-weight: 700;
}

#experience_badge:hover{
    color: white;

} */



/* some facts related style */

.section_title{
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.fact_description{
    max-width: 540px;
    margin-bottom: 100px;
}
.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact_card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.fact_card:hover{
    box-shadow: 0 0 10px #ffbd71d8;
    transition: 0.6s;
}

.fact_number{
    font-size: 2.8rem;
    font-weight: 600 ;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact_name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* Our Sponspors----------- */
.sponspor_box{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponspor_title{
    font-size: 3rem;
    margin-bottom: 24px;
}

.sponspors_companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

/* footer style */
.footer_section{
    max-width: 1440px;
    margin: 100px auto;
    background-color: #FFF4E7;
 
}

.footer_text{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 30px 0;
    text-align: center;
    color: #424242;
    
}


/*----------------End----------------------*/


/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav_items{
        flex-direction: column;
    }

    .brand{
        font-size: 3rem;

    }
/* teams work Our future style */
    .teams{
        flex-direction: column;
        
    }
  
    .team_img_contener{
        grid-template-columns: repeat(1, 1fr);
    }


    .our_features{
        margin-left: 20px;
    }

    
    /* features */
    .features{
        flex-direction: column;
    }

    .feature_image{
        max-width: 100%;
    }

    #experience_badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .feature_image{
        max-width: 100%;
        
    }


    /*some facts-----------  */
    .some_facts{
        text-align: center;
    }

    .fact_description{
        max-width: 500px;
        margin: 30px auto;
        text-align: center;
    }


    .facts_container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 500px;
        margin-left: 80px ;
        gap: 30px;
    }

      /* Our Sponspors----------- */
    .sponspors_companies{
        grid-template-columns: repeat(1, 1fr);
        max-width: 500px;
        margin-left: 90px ;
        gap: 50px;
        text-align: center;
    }


}
   

  

 

 /* medium size device------------ */


@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our_features{
        margin: 50px auto;
    }


/* features */
    .features{
        flex-direction: column;
    }

     #experience_badge{
        margin-top: 20px;
        margin-left: 20px;
    }

/* some facts---------- */
    .some_facts{
        text-align: center;
    }

    .fact_description{
        max-width: 500px;
        margin: 30px auto;
        text-align: center;
    }


    .facts_container{
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 0 auto;
        gap: 30px;
    }



}